body {
             
    background-image: url("image.jpg");
}
h1 {
    color: lightpink;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.item1 {
    grid-column: 1 / 5;
    background-color: #eeef6d 
    
}

.item2 {
    grid-column: 1 / 5;
    background-color: #ed99de
}
.item3 {
    grid-column: 1 / 5;
    background-color: #eeef6d
}
.item4 {
    grid-column: 1 / 5;
    background-color: #ed99de
}



   